body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:khaki;
    background-size: cover;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
}

.clock {
    font-family: "Darumadrop One", serif;
    font-size: 6rem;
    color: rgb(84, 163, 236);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 80px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}
