body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    background-color:khaki;
=======
    background: url('https://as1.ftcdn.net/v2/jpg/02/44/56/70/1000_F_244567019_SRb5i27LHFzblS6dpOhDUu8nsdRgmgh5.jpg') no-repeat center center/cover;
>>>>>>> bc562d7164ecba4c2944e84aa4b373b9ebf9ac6b
    background-size: cover;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
}

.clock {
    font-family: "Darumadrop One", serif;
    font-size: 6rem;
    color: rgb(84, 163, 236);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 80px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}
